*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
  display: flex;
  background-color: #d9d9d9;
  height: 100vh;
  width: 100;
  justify-content: center;
  justify-self: center;
}
.form{
  display: flex;
  height: 55%;
  width: 70%;
  background-color: white;
  margin-top: 12%;
}
formTitle{
  display: inline-flex;
  margin-top:1%;
  margin-left:2%;
}

