
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
  display: flex;
  background-color: #7c6b6b;
  height: 100vh;
  width: 100;
  justify-content: center;
  justify-self: center;
}
.form{
  display: flex;
  flex-direction: column;
  height: 55%;
  width: 70%;
  background-color: rgb(206, 204, 204);
  margin-top: 12%;
}
formTitle{
  display: inline-flex;
  margin-top:1%;
  margin-left:2%;
}
hr{
  width: 98%;
  margin-left: 1%;
  margin-top: .5%;
}
formContent{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  width: 100%;
  
}
layout, name, capacity, status, image{
  display:flex;
  width: 100%;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 20%;
}
layout, name, capacity, image{
  
  justify-content: space-between;
}
layoutField, nameField, imageField,capacityField{
  width: 90%;
  

}
statusField{
  width: 25%;
}
Input{
  width: 50%;
}